/**
 * Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    line-height: 1.6em;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    color: #333;
}
fieldset, legend {
    display: inline;
    vertical-align: top;
}

:focus { /* remember to define focus styles! */
    outline: 0;
}

img {
    display: block;
    line-height: 0;
    border: 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 12pt;
}

input[type="text"]:focus {
    background-image:url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23E7511E%22%20d%3D%22M24%201.5L.31%2012.19%2024%2022.89z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right -12px top 50%, 0 0;
}
input[type="radio"]:focus {
    outline: solid rgb(255,89,32) 4px;
}

header, footer, section, .message {
    padding: 0 1rem;
    max-width: 800px;
}
header {
    margin-top: 2rem;
}
footer {
    margin: 2rem 0;
    font-size: 80%;
}

p, h2, h3, h4, h5, h6 {
    margin-top: .8rem;
}

div.message {
    background-color: #f0f0f0;
    margin: 1rem;
    padding: 1rem;
}
.error {
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    padding: .5rem;
    font-size: 125%;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0;
    margin-bottom: .8rem;
}

.describedby {
    margin-top: 0;
    margin-bottom: 1.2rem;
}

h1 {
    font-size: 200%;
    font-weight: bold;
}

h2 {
    font-size: 150%;
    font-weight: bold;
}

h3 {
    font-size: 125%;
    font-weight: bold;
}

section {
    margin-top: 1.6rem;
}

ul, ol {
    padding-left: 1.4rem;
}
/* reset form */
textarea,
/*input[type="radio"],*/
input[type="submit"],
input[type="text"],
input[type="date"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    background-color: #fff;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #999;
}
textarea,
input[type="text"],
input[type="date"] {
    width: 30rem;
    max-width: 80%;
    height: 2rem;
    margin: .2rem;
    display: block;
}

img {
    width: 300px;
    max-width: 80%;
    margin-top: 1rem;
}

ol li {
    margin-bottom: .6rem;
}
ol label {
    display: block;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    /* border for select can only be done with outline */
    outline: 2px solid #999;
    outline-offset: -1px;
    /* the arrow image (https://www.filamentgroup.com/lab/select-css.html): */
    /* the color is the 6 C's slightly after 'fill' */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23CCCCCC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.ruigehond008 select::-ms-expand {
    display: none;
}
input[type="submit"] {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    padding: 10px;
    border-radius: 15px;
    transition: all .2s; /* margin-top .2s, margin-bottom .2s;*/
}
input[type="submit"]:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 10px 0 #aaa;
}
input[type="submit"] + .notice {
    margin-left: .2rem;
    background-color: #ffc;
}
.notice {
    background-color: #ffc;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

@media (max-width: 888px) {
    /* and (max-height: 650px)*/
    body,
    html {
        font-size: 14pt;
    }

    h1, h2 {
        font-size: 140%;
    }
}